@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #f9804b;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 19px;
  line-height: 23px;
  margin: 13px 0;
  padding: 3px 3px;
  text-align: center;
  border: 1.2px solid #ffffff;
}
h2 {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: rgba(254, 144, 19, 1);
}
h3 {
  font-size: 36px;
  line-height: 137%;
}

p {
  font-size: 16px;
  line-height: 130%;
}

.header {
  background-color: black;
  height: 80px;
  position: relative;
  z-index: 1;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  height: 80px;
}
.wrap {
  max-width: 1160px;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 63px;
  gap: 53px;
}
.nav__link_design {
  margin: auto 0;
}
.burger__menu {
  display: none;
}
.nav__link_design a {
  margin-right: 0;
}

.logo__svg {
  width: 10px;
  height: 21px;
  position: relative;
  bottom: 43px;
  left: 12px;
}

/* main ////////////////////////////////////////// */

.main {
  margin: 0 auto;
  padding-bottom: 122px;
  background-image: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  );
}

.donate {
  max-width: 1160px;
  margin: 40px auto 0;
}
.panda_bg {
  width: 100%;
  height: 386px;
}
.about p {
  padding-top: 10px;
}
.about h3:last-child {
  margin-top: 46px;
  color: rgba(254, 144, 19, 1);
}

/* pick and feed ////////////// */

.pick__feed {
  max-width: 1160px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
}
.pick__feed_wrapper {
  align-items: center;
  padding: 40px 92px 62px;
}
.text__pickFeed {
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-top: 21px;
}

.animals__widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  margin-top: 63px;
  margin-bottom: 50px;
}
.num_day {
  font-weight: 500;
  font-size: 73px;
  color: #000000;
  padding-right: 70px;
}
.panda__diet_number {
  text-align: center;
  width: 232px;
  height: 100px;
  margin-bottom: 12px;
  margin-right: 10px;
}
.x__icon {
  position: relative;
  bottom: 66px;
  left: 76px;
}
.text__pandaDiet {
  color: #333b41;
  text-align: left;
}
.panda__widget {
  margin-right: 20px;
  margin-bottom: 40px;
}

/* progress //////////////////////////// */
.amount {
  position: absolute;
  bottom: 44px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.progress__bar {
  position: relative;
  z-index: 8;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}

.line__bar {
  position: relative;
  z-index: 1;
  top: 13px;
  max-width: 915px;
  height: 2px;
  background: #72828e;
  margin: 0 auto;
}
.progressbar_item {
  position: relative;
  top: -35px;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.progress_bar_label {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
  position: relative;
  top: 32px;
}
.input__wrapper {
  display: flex;
  justify-content: space-between;
}

.option-input {
  position: relative;
  top: 27px;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 10;
  background: url(/assets/icons/dot.svg) no-repeat center;
  border-radius: 50%;
}

.progressbar_item input[type='radio']:checked {
  width: 40px;
  height: 40px;
  background: url(/assets/icons/roller_icon.svg) no-repeat,
    url(/assets/icons/dot.svg) no-repeat center;
}

.option-input:checked ~ .progress_bar_label {
  color: #fe9013;
}

.option-input:hover {
  cursor: pointer;
}

/* input ///////////////////// */

.form__amunt {
  max-width: 976px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
}

.input_amount {
  width: 268px;
  height: 54px;
  padding: 16px 0 16px 9px;
  border: 1px solid #929699;
  border-radius: 2px;
  justify-content: space-between;
  color: #000000;
}
.dollar_icon_wrapper {
  position: absolute;
  top: 17px;
  left: 600px;
}
.input_amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_amount::placeholder {
  color: #929699;
}
.input_amount:invalid:focus {
  border: 0.7px solid #ff0000;
  color: #ff0000;
}

.radio__amount_wrapper {
  width: 218px;
  margin: 28px 0 0 0;
  padding-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #333b41;
}

.radio {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  border: 1px solid #fe9013;
  transition: 0.2s all linear;
  outline: none;
}
.radio__amount_wrapper label {
  padding-left: 9px;
}
.radio:checked {
  background: #4b9200;
  border: 1px solid #4b9200;
}
.radio:hover {
  cursor: pointer;
}
.radio label:hover {
  cursor: pointer;
}

.btn {
  display: block;
  margin: 30px auto 0;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background: #dd7e11;
}
.social__span {
  display: block;
  margin: 30px auto 0;
  width: 301px;
  color: #333b41;
}

/* footer /////////////////////////////////////// */

.footer {
  position: relative;
  z-index: 5;
  height: 443px;
  background-color: #111115;
  padding: 40px 0 50px;
}
.container__footer {
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.leftFooter__column {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  grid-area: logo;
  width: 82px;
  height: 52px;
  margin: 0;
}
.footer__logo h1 {
  margin: 0;
}
.btn__wrapper button {
  height: 54px;
  border-radius: 5px;
  background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.social__icon_wrapper {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soc_icon img {
  margin-right: 12px;
}
.soc_icon span {
  position: relative;
  top: 5px;
}
.soc_icon img:hover {
  opacity: 0.5;
}

.rightFooter__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe__news h3 {
  color: white;
  line-height: 28px;
  margin-left: 15px;
}
.input__footer {
  border: 0.7px solid rgba(249, 128, 75, 1);
  width: 228px;
  height: 42px;
  padding: 10px;
  border-radius: 2px;
}
input.input__footer::placeholder {
  color: #bdbdbd;
}
.input__box {
  margin: 14px 0 0 14px;
}
.footer_form-btn {
  width: 129px;
  height: 42px;
  background: rgba(241, 243, 242, 1) !important;
  color: rgba(75, 146, 0, 1);
  border: 1px solid #4b9200;
  border-radius: 5px;
  margin-left: 5px;
}
.footer_form-btn:hover {
  color: white;
  background: rgba(75, 146, 0, 1);
}

.centerFooter__column {
  display: flex;
  align-items: flex-end;
}
.nav__footer {
  width: 100%;
}

.nav__list_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list_footer > li > a {
  margin: 0;
}

.footer__logo .logo__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 22.8px;
  padding: 3px 3px;
  text-align: center;
  border: 1.2px solid #ffffff;
  color: white;
}

.footer__coopiright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.footer__coopiright p {
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
.footer__logo .logo__svg {
  top: -32px;
}

@media (max-width: 1000px) {
  .main {
    padding-bottom: 1px;
  }

  .wrap {
    max-width: 940px;
  }
  .panda_bg {
    height: 390px;
  }
  .nav__list {
    gap: 49px;
  }
  .about p br {
    display: none;
  }
  .about p {
    padding: 0;
    margin-top: 23px;
  }
  .about h3:last-child {
    margin-top: 17px;
  }

  .pick__feed {
    margin: 38px auto 28px;
  }
  .pick__feed_wrapper {
    padding: 19px 48px 10px;
    height: 918px;
  }
  .text__pickFeed {
    margin-top: 12px;
  }
  .progress__bar {
    max-width: 810px;
    margin: 0 auto;
  }
  .progressbar_item {
    top: -36px;
    width: 33px;
    align-items: baseline;
  }
  .input__wrapper div:first-child {
    display: none;
  }
  .form__amunt {
    max-width: 810px;
    margin: 98px auto 0;
  }
  .dollar_icon_wrapper {
    left: 519px;
  }
  /* ///////////////////////// */
  .container__footer {
    grid-template-rows: 100px 100px auto;
  }
  .leftFooter__column {
    padding-left: 0px;
  }

  .btn__donate {
    margin-right: 0;
  }
  .centerFooter__column {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
  }
  .nav__list_footer {
    flex-wrap: wrap;
  }
  .rightFooter__column {
    grid-column-start: 2;
    grid-column-end: 5;
    align-items: end;
  }
  .footer__coopiright {
    position: absolute;
    bottom: 53px;
    right: 26px;
  }
  .footer__coopiright p {
    font-weight: 100;
  }
  .subscribe__news {
    margin-right: 20px;
  }
  .subscribe__news h3 {
    font-size: 24px;
  }
  .btn__wrapper button {
    margin-left: 0;
    margin-top: 70px;
  }
  .subscribe__news {
    margin-right: 33px;
  }
}

@media (max-width: 768px) {
  .wrap {
    max-width: 600px;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 34px;
  }
  .logo__text {
    border: none;
    font-size: 12px;
    line-height: 120%;
    margin: 2.3px 0;
  }
  .logo__svg {
    width: 4.5px;
    height: 13.5px;
    position: relative;
    bottom: 23px;
    left: 9px;
  }
  .nav {
    display: none;
  }
  .container {
    justify-content: space-between;
    height: 34px;
  }

  .burger__menu img {
    width: 18px;
    height: 10px;
  }

  .burger__menu {
    display: block;
    position: relative;
    /*  margin: auto 0; */
    width: 25px;
    height: 15px;
    z-index: 4;
    margin: auto 0;
    right: 3%;
  }
  .burger__menu:hover {
    cursor: pointer;
  }
  .burger__menu span {
    display: block;
  }

  .burger__menu::after,
  .burger__menu::before {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 8;
    left: 0;
  }

  .burger__menu span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 6.5px;
    transition: all 0.2s ease 0s;
  }
  .burger__menu::before {
    top: 0;
    transition: all 0.2s ease 0s;
  }
  .burger__menu::after {
    bottom: 0;
    transition: all 0.2s ease 0s;
  }

  .active__burger_header .burger__menu::before {
    transform: rotate(45deg);
    top: 6.5px;
  }
  .active__burger_header .burger__menu::after {
    transform: rotate(-45deg);
    bottom: 6.5px;
  }
  .active__burger_header .burger__menu span {
    transform: scale(0);
  }
  .active__burger_header {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease 0s;
    z-index: 6;
  }
  .active__burger_header .nav {
    left: -46px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
  }
  .active__burger_header .nav__list {
    flex-direction: column;
    max-width: 150px;
    gap: 15px;
    margin-left: 0;
    margin-top: 60px;
    align-items: baseline;
  }
  .active__burger_header .nav__list a,
  .nav__link_design a {
    font-weight: 400;
  }
  .active__burger_header .logo__container {
    border: 1px solid #fe9013;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .active__burger_header h1 {
    color: rgba(254, 144, 19, 1);
  }

  .lock {
    overflow: hidden;
  }

  .bgImage__wrapper {
    height: 369px;
  }
  .panda_bg {
    object-fit: cover;
    height: 100%;
  }
  h3 {
    font-size: 24px;
    line-height: 120%;
  }
  .donate {
    margin: 29px auto 0;
  }
  .about h3:last-child {
    font-size: 36px;
    line-height: 130%;
    margin-top: 37px;
    color: #fe9013;
  }

  .pick__feed {
    margin: 30px auto 45px;
  }
  .pick__feed_wrapper {
    padding: 29px 0 10px;
  }
  .text__pickFeed {
    margin-top: 22px;
    text-align: center;
  }
  .animals__widget {
    margin-top: 50px;
    margin-bottom: 36px;
  }
  .form__amunt {
    margin: 100px auto 0;
  }
  .input_amount {
    width: 180px;
    height: 42px;
    padding: 10px 0 16px 9px;
  }

  #item__2,
  #item__3 {
    display: none;
  }
  .line__bar {
    max-width: 514px;
  }
  .input__wrapper {
    max-width: 520px;
    margin: 0 auto;
  }
  .progressbar_item {
    width: 46px;
    align-items: center;
  }
  .option-input {
    width: 10px;
  }
  .dollar_icon {
    left: 371px;
    top: 12px;
  }
  /*  //////////////////// */

  .footer {
    padding: 8px 0;
    height: 282px;
  }
  .subscribe__news {
    display: none;
  }
  .btn__donate {
    margin-top: 37px;
  }
  .leftFooter__column {
    padding-left: 0;
  }
  .centerFooter__column {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .social__icon_wrapper {
    position: absolute;
    right: 5px;
    margin-top: 6px;
    gap: 20px;
  }
  .soc_icon span {
    display: none;
  }
  .soc_icon {
    max-width: 40px;
  }
  .leav_foto {
    height: 200px;
    top: 98.5%;
  }
  .footer__coopiright {
    bottom: 16px;
  }
  .btn__wrapper button {
    margin-top: 37px;
  }
}
@media (max-width: 460px) {
  .wrap {
    max-width: 300px;
  }
  .bgImage__wrapper {
    height: 221px;
  }

  .about p {
    line-height: 137%;
  }
  .about h3:last-child {
    font-size: 24px;
    margin-top: 29px;
  }
  h2 {
    font-size: 24px;
  }
  .pick__feed_wrapper {
    padding: 19px 0 10px;
    height: 590px;
  }
  .text__pickFeed {
    font-size: 16px;
    margin-top: 11px;
    text-align: center;
  }
  .animals__widget {
    margin-top: 0;
    margin-bottom: 0;
    height: 188px;
  }
  .num_day {
    font-size: 47px;
    padding-right: 46px;
  }
  .text__pandaDiet {
    font-size: 9px;
  }
  .panda__diet_number {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .panda__widget {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .x__icon {
    position: relative;
    bottom: 39px;
    left: 32px;
  }
  .progress__bar {
    height: 13.5px;
  }
  .progressbar_item {
    top: -25px;
    width: 0;
  }
  .line__bar {
    max-width: 262px;
    top: 7px;
  }
  .input__wrapper {
    max-width: 262px;
    align-items: flex-start;
  }
  .progressbar_item input[type='radio']:checked {
    background: url(/assets/icons/roller_icon.svg) no-repeat center/85%,
      url(/assets/icons/dot.svg) no-repeat center/25%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 21px;
  }
  .option-input:checked ~ .progress_bar_label {
    top: 40px;
  }

  .option-input {
    height: 5px;
    width: 5px;
  }
  .progress_bar_label {
    font-size: 13px;
    top: 37px;
  }
  .amount {
    bottom: 22px;
  }
  .form__amunt {
    margin: 49px auto 0;
  }
  .button3 {
    margin: 26px auto 0;
  }
  .footer {
    height: 334px;
  }
  .pick__feed {
    margin: 30px auto 19px;
  }
  .footer {
    padding: 20px 0;
  }
  .container__footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35px 100px auto;
  }
  .leftFooter__column {
    align-items: center;
  }
  .social__icon_wrapper {
    order: 2;
    position: relative;
    flex-direction: row;
  }
  .footer__logo {
    width: 128px;
    padding: 0;
    border: none;
  }
  .footer__logo .logo__text {
    padding: 0;
    border: none;
  }
  .footer .logo__text br {
    display: none;
  }
  .btn__wrapper {
    order: 3;
  }
  .btn__donate {
    margin-top: 30px;
  }
  .social__icon_wrapper {
    right: 0;
    gap: 29px;
  }
  .soc_icon {
    width: 26px;
  }
  .rightFooter__column {
    position: absolute;
    width: 255px;
    height: 110px;
    bottom: 58px;
    right: 0;
  }
  .footer__coopiright p {
    font-size: 15px;
  }
  .nav__list_footer {
    justify-content: space-around;
  }
  .btn__wrapper button {
    margin-top: 31px;
  }
}
